:root {
    --white: rgba(255, 255, 255, 1);
    --white-30: rgba(255, 255, 255, 0.3);
    --grey-mix: rgba(233, 242, 241, 1);
    --grey-light: rgba(208, 208, 208, 1);
    --grey-5: rgba(0, 0, 0, 0.05);
    --grey-10: rgba(0, 0, 0, 0.1);
    --grey-25: rgba(0, 0, 0, 0.25);
    --grey-50: rgba(0, 0, 0, 0.5);
    --grey: rgba(134, 134, 134, 1);
    --black: rgba(0, 0, 0, 1);
    --cyan: rgba(204, 246, 224, 1);
    --cyan-25: rgba(151, 211, 211, 1);
    --green: rgba(1, 144, 48, 1);
    --yellow: rgba(255, 202, 0, 1);
    --orange: rgba(253, 119, 62, 1);
    --pink: rgba(255, 180, 184, 1);
    --red: rgba(230, 55, 66, 1);
    --blue-light: rgba(163, 211, 255, 1);
    --blue: rgba(0, 51, 233, 1);
    --violet: rgba(29, 25, 109, 1);
    --neutralmain-300: rgba(193, 195, 220, 1);
    --neutralmain-900: rgba(37, 38, 48, 1);
    --HERO-font-family: "Roboto-Medium", Helvetica;
    --HERO-font-weight: 500;
    --HERO-font-size: 64px;
    --HERO-letter-spacing: 0px;
    --HERO-line-height: normal;
    --HERO-font-style: normal;
    --BIG-font-family: "Roboto-Medium", Helvetica;
    --BIG-font-weight: 500;
    --BIG-font-size: 48px;
    --BIG-letter-spacing: 0px;
    --BIG-line-height: normal;
    --BIG-font-style: normal;
    --h0-font-family: "Roboto-Medium", Helvetica;
    --h0-font-weight: 500;
    --h0-font-size: 36px;
    --h0-letter-spacing: 0px;
    --h0-line-height: normal;
    --h0-font-style: normal;
    --h1-font-family: "Roboto-Regular", Helvetica;
    --h1-font-weight: 400;
    --h1-font-size: 24px;
    --h1-letter-spacing: 0px;
    --h1-line-height: normal;
    --h1-font-style: normal;
    --h2-font-family: "Roboto-Regular", Helvetica;
    --h2-font-weight: 400;
    --h2-font-size: 20px;
    --h2-letter-spacing: 0px;
    --h2-line-height: normal;
    --h2-font-style: normal;
    --h3-font-family: "Roboto-Regular", Helvetica;
    --h3-font-weight: 400;
    --h3-font-size: 18px;
    --h3-letter-spacing: 0px;
    --h3-line-height: normal;
    --h3-font-style: normal;
    --h4-font-family: "Roboto-Regular", Helvetica;
    --h4-font-weight: 400;
    --h4-font-size: 14px;
    --h4-letter-spacing: 0px;
    --h4-line-height: normal;
    --h4-font-style: normal;
    --h5-font-family: "Roboto-Regular", Helvetica;
    --h5-font-weight: 400;
    --h5-font-size: 12px;
    --h5-letter-spacing: 0px;
    --h5-line-height: normal;
    --h5-font-style: normal;
    --body-body1-medium-font-family: "Inter-Medium", Helvetica;
    --body-body1-medium-font-weight: 500;
    --body-body1-medium-font-size: 16px;
    --body-body1-medium-letter-spacing: 0px;
    --body-body1-medium-line-height: 24px;
    --body-body1-medium-font-style: normal;
    --body-body1-regular-font-family: "Inter-Regular", Helvetica;
    --body-body1-regular-font-weight: 400;
    --body-body1-regular-font-size: 16px;
    --body-body1-regular-letter-spacing: 0px;
    --body-body1-regular-line-height: 24px;
    --body-body1-regular-font-style: normal;
    --dimensions-corners-corner-30: 30px;
    --dimensions-corners-corner-20: 20px;
    --dimensions-corners-corner-10: 10px;
    --dimensions-corners-corner-5: 5px;
    --dimensions-corners-corner-2: 2px;
    --dimensions-gaps-gap-5: 5px;
    --dimensions-gaps-gap-10: 10px;
    --dimensions-gaps-gap-15: 15px;
    --dimensions-gaps-gap-20: 20px;
    --dimensions-gaps-gap-30: 30px;
    --dimensions-gaps-gap-50: 50px;
    --dimensions-gaps-gap-75: 75px;
    --dimensions-gaps-gap-100: 100px;
    --dimensions-size-size-30: 30px;
    --dimensions-size-size-50: 50px;
}
