.desktop {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .desktop .div {
    background-color: #ffffff;
    overflow: hidden;
    width: 1920px;
    height: 1080px;
    position: relative;
  }
  
  .desktop .overlap {
    position: absolute;
    width: 1920px;
    height: 900px;
    top: 180px;
    left: 2px;
    background-color: #f5f5dc;
  }
  
  .desktop .input-personaldata {
    display: flex;
    flex-direction: column;
    width: 1080px;
    height: 696px;
    align-items: center;
    justify-content: space-between;
    padding: var(--dimensions-gaps-gap-75) 0px var(--dimensions-gaps-gap-75) 0px;
    position: absolute;
    top: 93px;
    left: 420px;
    background-color: #195388;
    border-radius: var(--dimensions-corners-corner-30);
  }
  
  .desktop .input {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    gap: var(--dimensions-gaps-gap-10);
    position: relative;
    flex: 0 0 auto;
  }
  
  .desktop .input-title {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: var(--h1-font-family);
    font-weight: var(--h1-font-weight);
    color: var(--black);
    font-size: var(--h1-font-size);
    letter-spacing: var(--h1-letter-spacing);
    line-height: var(--h1-line-height);
    white-space: nowrap;
    font-style: var(--h1-font-style);
    background: transparent;
    border: none;
    padding: 0;
  }
  
  .desktop .input-field {
    display: inline-flex;
    align-items: center;
    gap: var(--dimensions-gaps-gap-10);
    position: relative;
    flex: 0 0 auto;
  }
  
  .desktop .iconset {
    position: relative;
    width: 50px;
    height: 50px;
  }
  
  .desktop .input-rectangle {
    position: relative;
    width: 509px;
    height: 52px;
    background-color: var(--white);
    border: 3px solid;
    border-color: var(--cyan-25);
  }
  
  .desktop .input-text {
    position: absolute;
    top: 11px;
    left: 70px;
    font-family: var(--h1-font-family);
    font-weight: var(--h1-font-weight);
    color: var(--grey-25);
    font-size: var(--h1-font-size);
    letter-spacing: var(--h1-letter-spacing);
    line-height: var(--h1-line-height);
    white-space: nowrap;
    font-style: var(--h1-font-style);
    background: transparent;
    border: none;
    padding: 0;
  }
  
  .desktop .text-wrapper {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: var(--h1-font-family);
    font-weight: var(--h1-font-weight);
    color: var(--black);
    font-size: var(--h1-font-size);
    letter-spacing: var(--h1-letter-spacing);
    line-height: var(--h1-line-height);
    white-space: nowrap;
    font-style: var(--h1-font-style);
  }
  
  .desktop .input-field-2 {
    display: flex;
    width: 569px;
    align-items: center;
    gap: var(--dimensions-gaps-gap-10);
    position: relative;
    flex: 0 0 auto;
  }
  
  .desktop .input-text-2 {
    position: absolute;
    top: 11px;
    left: 70px;
    font-family: var(--h1-font-family);
    font-weight: var(--h1-font-weight);
    color: var(--grey-25);
    font-size: var(--h1-font-size);
    letter-spacing: var(--h1-letter-spacing);
    line-height: var(--h1-line-height);
    white-space: nowrap;
    font-style: var(--h1-font-style);
  }
  
  .desktop .re-captcha {
    position: relative;
    width: 258px;
    height: 52px;
    object-fit: cover;
  }
  
  .desktop .input-rectangle-2 {
    position: relative;
    width: 233px;
    height: 52px;
    background-color: var(--white);
    border: 3px solid;
    border-color: var(--cyan-25);
  }
  
  .desktop .btn-RED {
    display: flex;
    width: 240px;
    height: 65px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 17px 66px;
    position: absolute;
    top: 809px;
    left: 840px;
    background-color: var(--red);
    border-radius: 10px;
    border: 5px solid;
    border-color: var(--violet);
    all: unset;
    box-sizing: border-box;
  }
  
  .desktop .register-here {
    position: relative;
    width: fit-content;
    margin-top: -3.5px;
    font-family: var(--h1-font-family);
    font-weight: var(--h1-font-weight);
    color: var(--white);
    font-size: var(--h1-font-size);
    text-align: center;
    letter-spacing: var(--h1-letter-spacing);
    line-height: var(--h1-line-height);
    white-space: nowrap;
    font-style: var(--h1-font-style);
  }
  
  .desktop .step-text {
    position: absolute;
    top: 19px;
    left: 647px;
    font-family: "Roboto-Medium", Helvetica;
    font-weight: 500;
    color: var(--black);
    font-size: 36px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    text-decoration: underline;
    white-space: nowrap;
  }
  
  .desktop .header {
    position: absolute;
    width: 1920px;
    height: 180px;
    top: 0;
    left: 0;
    background-color: #195994;
    opacity: 0.9;
  }
  
  .desktop .search-bar {
    position: absolute;
    width: 467px;
    height: 52px;
    top: 122px;
    left: 1428px;
    border-radius: 30px;
    border: 1px solid;
    border-color: #e9efff;
  }
  
  .desktop .text-wrapper-2 {
    position: absolute;
    top: 12px;
    left: 27px;
    opacity: 0.5;
    font-family: "Montserrat-Light", Helvetica;
    font-weight: 300;
    color: #e9efff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .desktop .search-icon {
    position: absolute;
    width: 27px;
    height: 23px;
    top: 14px;
    left: 416px;
  }
  
  .desktop .overlap-group {
    position: relative;
    height: 22px;
  }
  
  .desktop .ellipse {
    position: absolute;
    width: 18px;
    height: 18px;
    top: 0;
    left: 0;
    border-radius: 9px;
    border: 0.5px solid;
    border-color: #e9efff;
  }
  
  .desktop .rectangle {
    position: absolute;
    width: 11px;
    height: 8px;
    top: 14px;
    left: 15px;
  }
  
  .desktop .ttile {
    position: absolute;
    width: 637px;
    height: 80px;
    top: 42px;
    left: 224px;
  }
  
  .desktop .p {
    position: absolute;
    width: 579px;
    height: 35px;
    top: 13px;
    left: -9px;
    font-family: "Montserrat-Bold", Helvetica;
    font-weight: 700;
    color: #e9efff;
    font-size: 28px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .clipart {
    position: absolute;
    width: 150px;
    height: 150px;
    top: 14px;
    left: 32px;
  }
  
  .desktop .india-logo {
    position: absolute;
    width: 170px;
    height: 90px;
    top: 10px;
    left: 1456px;
    object-fit: cover;
  }
  
  .desktop .azadi-ka-amrit {
    position: absolute;
    width: 193px;
    height: 94px;
    top: 10px;
    left: 1702px;
    object-fit: cover;
  }
  